<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MMG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.4" newVersion="9.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MMG.Properties.Settings>
      <setting name="FormationCharaImagePath" serializeAs="String">
        <value>char_icon/</value>
      </setting>
      <setting name="FormationTokeNekoImagePath" serializeAs="String">
        <value>tokeneko_icon/</value>
      </setting>
      <setting name="FormationImageExtension" serializeAs="String">
        <value>.jpg</value>
      </setting>
      <setting name="FormationImageNothing" serializeAs="String">
        <value>未指定</value>
      </setting>
      <setting name="PLAYER_FILE_NAME" serializeAs="String">
        <value>player.csv</value>
      </setting>
      <setting name="FORMATION_FILE_NAME" serializeAs="String">
        <value>formation.csv</value>
      </setting>
      <setting name="CHARACTER_FILE_NAME" serializeAs="String">
        <value>character.csv</value>
      </setting>
      <setting name="GUILD_FILE_NAME" serializeAs="String">
        <value>guild.csv</value>
      </setting>
      <setting name="PLAYERVSPLAYER_FILE_NAME" serializeAs="String">
        <value>playerVSplayer.csv</value>
      </setting>
      <setting name="FORMATIONVSFORMATION_FILE_NAME" serializeAs="String">
        <value>formationVSFormation.csv</value>
      </setting>
      <setting name="SERVER_TIME_CORRECTION_SECONDS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFENSE_TIME" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="SELECT_GUILD_ALL_STR" serializeAs="String">
        <value>全ギルド選択</value>
      </setting>
      <setting name="BASE_DATA_PATH" serializeAs="String">
        <value>data/</value>
      </setting>
      <setting name="DISCORD_SERVER_ADMIN_CLIENT_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DISCORD_BOT_CLIENT_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DISCORD_WEEK_PASS_CHANNEL_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DISCORD_MMGP_CHANNEL_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DISCORD_WEEK_PASS_CHANNEL_CLIENT_IDS" serializeAs="String">
        <value />
      </setting>
      <setting name="BOT_TOKEN" serializeAs="String">
        <value />
      </setting>
      <setting name="DISCORD_FILE_NAME" serializeAs="String">
        <value>discord.csv</value>
      </setting>
      <setting name="GuildImagePath" serializeAs="String">
        <value>guild_img/</value>
      </setting>
      <setting name="BACKUP_DIR" serializeAs="String">
        <value>bak/</value>
      </setting>
      <setting name="PROCESS_TITLE_NAME" serializeAs="String">
        <value>MementoMori</value>
      </setting>
      <setting name="MATCH_TEMP_DIR" serializeAs="String">
        <value>mTemp/</value>
      </setting>
      <setting name="MATCH_CHARACTER_DIR" serializeAs="String">
        <value>char_pm/</value>
      </setting>
      <setting name="MATCH_THRESHOLD" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="MATCH_GUILDVS_CHARACTER_DIR" serializeAs="String">
        <value>char_pm_gvs/</value>
      </setting>
      <setting name="MATCH_GUILDVS_PLAYER_DIR" serializeAs="String">
        <value>player_pm_gvs/</value>
      </setting>
      <setting name="MATCH_TEMP_DIR_MAX_SIZE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MATCH_AUTO_INTERVAL_TIMES" serializeAs="String">
        <value>3,5,1,0.8,0.4</value>
      </setting>
      <setting name="MATCH_TEMP_DIV_DIR" serializeAs="String">
        <value>div/</value>
      </setting>
      <setting name="MATCH_WINDOW_TITLE_NAMES" serializeAs="String">
        <value>メメントモリサブ垢003,メメントモリサブ垢002兼用</value>
      </setting>
    </MMG.Properties.Settings>
  </userSettings>
</configuration>